/.DS_Store
/.localized
/1838241-Robin F M-Bridge Engineering.pdf
/Abstract Factory Design Pattern.pdf
/ActivePresenter_v8.5.7_setup.dmg
/Assignment 2 MAD.pdf
/C&C final 1720465_Md_Rakibul_Hassan.pdf
/CamScanner 05-12-2022 11.24.pdf
/CamScanner 06-09-2022 21.21.pdf
/Computation and Complexity - Assignment 2.pdf
/Dimond.png
/FYP2 Technical Report Template 2022.pdf
/Food calories.docx
/Layout Assignment.docx
/MAD TEST_01_1720465.docx
/Midterm CC Sem 2 2021-2022 (1).pdf
/Midterm CC Sem 2 2021-2022.pdf
/RESEARCH ESSAY 2 Group 6.pdf
/Sem1_2021-22_T2SQ1.docx.pdf
/Simulator Screen Shot - iPhone 13 - 2022-06-05 at 22.58.44.png
/Teams_osx_s_8DA1DD92A189AEB-7-0_c_w_.pkg
/VSCode-darwin-universal.zip
/Visual Studio Code.app
/class_project (1).zip
/class_project.zip
/flutter-weather-master.zip
/git-2.15.0-intel-universal-mavericks (1).dmg
/git-2.15.0-intel-universal-mavericks.dmg
/node-v18.4.0.pkg
/project website
/rk.png.pdf